@charset "UTF-8";
/*pure  color */
/* font-family */
/* font-color */
/* web color */
/* font-size set */
/* width set */
/* circle write */
/* 圖片取代文字 */
/* bg setting */
/* RWD mixin */
.section .row {
  margin-right: 0px;
  margin-left: 0px;
}

@media screen and (max-width: 569px) {
  .section {
    margin-bottom: 0 !important;
  }
  .section i {
    display: none;
  }
  .section .section-item-title {
    margin-right: -10px;
    margin-left: -10px;
  }
}

.section .section-item-order-img {
  max-width: 15%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .section .section-item-order-img {
    max-width: 20%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
}

@media screen and (max-width: 569px) {
  .section .section-item-order-img {
    max-width: 45%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}

@media screen and (max-width: 569px) {
  .section .section-item-order {
    padding: 20px 30px;
    border: 0;
  }
  .section .section-item-order > p {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    border-top: 1px solid #EAF0ED;
    border-bottom: 1px solid #EAF0ED;
    text-align: right;
    padding: 10px 0;
    margin-top: 10px;
  }
}

.section .section-item-order i {
  cursor: pointer;
}

.section .section-item-order i:hover {
  color: #FFE180;
}

.section .section-item-order-group {
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media screen and (max-width: 768px) {
  .section .section-item-order-group .section-item-order-title {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 569px) {
  .section .section-item-order-group .section-item-order-title {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 569px) {
  .section .section-item-order-group .section-item-order-count {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.section .section-item-order-group .section-item-order-count .js-minus, .section .section-item-order-group .section-item-order-count .js-add {
  cursor: pointer;
}

.section .section-item-order-group .section-item-order-count .js-minus:hover, .section .section-item-order-group .section-item-order-count .js-add:hover {
  background-color: #3F5D45;
  color: #ffffff;
}

@media screen and (max-width: 569px) {
  .section .section-list {
    background-color: #ffffff;
  }
  .section .section-list .section-list-title {
    background-color: #EAF0ED;
    color: #3F5D45;
  }
  .section .section-list span {
    color: #3F5D45;
  }
}

.section .btn:hover {
  background-color: #ffd54d;
}

@media screen and (max-width: 569px) {
  .section .btn {
    margin-right: -10px;
    margin-left: -10px;
  }
}
/*# sourceMappingURL=cart.css.map */