/*pure  color */
$white: #ffffff;




/* font-family */
$font-microsoft:Microsoft JhengHei;;



/* font-color */
$f-color-primary: #3F5D45;
$f-color-secondary: #8DA291;


/* web color */
$primary: #3F5D45;
$secondary: #FFE180;
$thirdary: #EAF0ED;





/* font-size set */
$font-base: 16px;
$font-s: $font-base * 1.5;
$font-m: $font-base * 2;
$font-l: $font-base * 2.5;



/* width set */
$max-width: 1024px;


